@{
    ViewData["Title"] = T("Change Password");
}
<div class="card card-outline card-primary">
    <div class="card-header">

    </div>
    <input type="hidden" id="userId" value="@ViewBag.UserId" />
    <div class="card-body">
        <div>

            <form id="myForm" class="needs-validation was-validated">
                <div class="form-row">
                @*    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label>@T("publicInterface.changPassword.oldPassword")</label>
                        <input id="oldPassword" class="form-control form-control-sm rounded-0" required />
                        <span class="text-danger"></span>
                    </div>*@
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label>@T("publicUI.account.resetPassword.newPassword")</label>
                        <input name="Password" id="Password" type="password" class="form-control form-control-sm rounded-0" required />
                        <small class="text-danger field-validation-valid" id="PasswordValidation"></small>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label>@T("modal.Account.ConfirmPassword")</label>
                        <input id="ConfirmPassword" name="ConfirmPassword" type="password" class="form-control form-control-sm rounded-0" required />
                        <small class="text-danger field-validation-valid" id="ConfirmPasswordValidation"></small>
                        <span class="text-danger"></span>
                    </div>
                    @*<button type="submit">Change</button>*@
                </div>
            </form>
        </div>
    </div>
    <div class="card-footer">
        <div class="btn btn-sm btn-success" onclick="setPassword()">@T("btn.save")</div>
        <a class="btn btn-sm  btn-info">Cancel&ensp;<i class="fas fa-arrow-alt-circle-right"></i></a>
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        var passwordMatched = false;

        var passwordInput = document.getElementById("Password");
        passwordInput.addEventListener('input', function () {
            var passwordCheck = isPasswordSecure(document.getElementById("Password").value)
            console.log(passwordCheck)
            const error = document.querySelector('#PasswordValidation');
            if (passwordCheck == 1) {
                error.textContent = '';
                return;
            }
            if (passwordCheck == 2) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 lowercase character';
                return;
            }
            else if (passwordCheck == 3) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 uppercase character';
                return;
            }
            else if (passwordCheck == 4) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 number';
                return;
            }
            else if (passwordCheck == 5) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 special character in (!#$%^&*)';
                return;
            }
            else if (passwordCheck == 6) {
                error.textContent = ' ';
                error.textContent = 'Password must has at least 8 characters';
                return;
            } else {
                error.textContent = ' ';
            }

        });
        //-----------------------------------------------------------------------------------
        var passwordConfirmInput = document.getElementById("ConfirmPassword");
        var password = document.getElementById("Password");
        passwordConfirmInput.addEventListener('input', function () {
            var passowrdConfirmSpan = document.getElementById("ConfirmPasswordValidation");
            if (passwordConfirmInput.value !== password.value) {
                passwordMatched = false;
                passowrdConfirmSpan.textContent = 'Password Not matched!';
            } else {
                passwordMatched = true;
                passowrdConfirmSpan.textContent = '';
            }

        });
        //----------------------------------------------------------------------

        function setPassword() {
            if (!$("#myForm").valid()) {
                return;
            }
            //if (isPasswordSecure(document.getElementById("Password").value) !== 0) return;
            if (!passwordMatched)  return;

            var data = new FormData();
            data.append('Id', '@ViewBag.UserId');
            //data.append('oldPassword', document.querySelector('#oldPassword').value);
            data.append('NewPassword', document.querySelector('#Password').value);
            data.append('ConfirmPassword', document.querySelector('#ConfirmPassword').value);

            //showLoading()
            $.ajax({
                type: "post",
                url: `/admin/Dashboard/ChangePassword`,
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.responseType === 1) {
                        SuccessDialog('@T("publicInterface.view.changeCustomerPassword.SuccessDialog")');
                        setTimeout(() => { window.location.assign("/admin/dashboard/index") }, 2000)
                    } else {
                        ErrorDialog(res.responseText)
                        hideLoading();
                    }
                },
                error: function (e) {
                    console.error(e);
                    hideLoading();
                }
            });


        }

    </script>
    <script src="~/js/ValidationRegister.js"></script>
    <partial name="_ValidationScriptsPartial" />
}