@model Pal.Web.Models.ChangePasswordVM;
@{
    ViewData["Title"] = T("publicInterface.changPassword.title");
    var userId = ViewBag.UserId;
}
<section class="module login">
    <form id="myForm" asp-action="ChangeCustomerPassword" onsubmit="StopSubment(event)" method="post">
        <div class="container">
            <div class="row">

                <input id="userId" type="hidden" value="@userId" />
                <div class="col-lg-4 col-lg-offset-4">
                    <h4>@T("publicInterface.changPassowrd.title")</h4>
                    <h5>@T("publicInterface.changPassowrd.subTitle")</h5>
                    <div class="divider"></div>
                    <div class="form-block">
                        <label>@T("publicInterface.changPassword.oldPassword")</label>
                        <input class="form-control" asp-for="OldPassword" type="password" required />
                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                    </div>
                    <div class="form-block">
                        <label>@T("publicInterface.changPassword.newPassword")</label>
                        <small class="text-danger field-validation-valid" id="PasswordValidation"></small>
                        <input class="form-control" asp-for="NewPassword" type="password" required />
                        <span class="text-danger" asp-validation-for="NewPassword"></span>
                    </div>
                    <div class="form-block">
                        <label>@T("publicInterface.changPassword.confirmPassword")</label>
                        <input class="form-control" asp-for="ConfirmPassword" type="password" required />
                        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                    </div>
                    <div class="form-block">
                        <button class="button button-icon" onclick="changePassword()"><i class="fa fa-angle-right"></i>@T("btn.save")</button>
                    </div>
                    <div class="divider"></div>
                </div>
            </div><!-- end row -->
        </div>
    </form>
</section>

@section Scripts{

    <script>
        function StopSubment(e) {
            e.preventDefault();

        }

        var passwordInput = document.getElementById("NewPassword");
        passwordInput.addEventListener('input', function () {
            var passwordCheck = isPasswordSecure(document.getElementById("NewPassword").value)
            console.log(passwordCheck)
            const error = document.querySelector('#PasswordValidation');
            if (passwordCheck == 1) {
                error.textContent = '';
                return;
            }
            if (passwordCheck == 2) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 lowercase character';
                return;
            }
            else if (passwordCheck == 3) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 uppercase character';
                return;
            }
            else if (passwordCheck == 4) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 number';
                return;
            }
            else if (passwordCheck == 5) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 special character in (!#$%^&*)';
                return;
            }
            else if (passwordCheck == 6) {
                error.textContent = ' ';
                error.textContent = 'Password must has at least 8 characters';
                return;
            } else {
                error.textContent = ' ';
            }
            //----------------------------------------------------------------------
        });
        function changePassword() {

            if (isPasswordSecure(document.getElementById("NewPassword").value) !== 0) return;

            if (!$("#myForm").valid()) {
                return;
            }
            var data = new FormData();
            data.append('Id', document.querySelector('#userId').value);
            data.append('OldPassword', document.querySelector('#OldPassword').value);
            data.append('NewPassword', document.querySelector('#NewPassword').value);
            data.append('ConfirmPassword', document.querySelector('#ConfirmPassword').value);
            pleaseWaitDialog.show();
            $.ajax({
                type: "post",
                url: `/Account/ChangeCustomerPassword`,
                data: data,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.responseType === 1) {
                        SuccessDialog('@T("publicInterface.view.changeCustomerPassword.SuccessDialog")');
                        setTimeout(() => { window.location.assign("/Customers/Profile") }, 2000)
                    } else {
                        ErrorDialog(res.responseText)
                    }
                },
                error: function (e) {
                    console.error(e);
                }
            });

        }
    </script>
    <script src="~/js/ValidationRegister.js"></script>
    <partial name="_ValidationScriptsPartial" />
}