
@{
    ViewData["Title"] = "Forget Password";
}
<link href="~/lib/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
<section class="module login">
    <input type="hidden" id="userId" value="" />
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="divider"></div>
                <p>@T("publicUI.account.register.doNotHaveAccount.title") <strong><a data-toggle="modal" data-target="#registerDescriptionModal">@T("publicUI.account.register.doNotHaveAccount.link")</a></strong></p>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                <div class="form-block">
                    <label>@T("publicUI.account.forgetPassword.PhoneNumber.title")</label>
                    <span id="valid-msg" class="hide text-success">✓ Valid</span>
                    <span id="error-msg" class="hide text-danger"></span>
                    <input class="border" required id="phoneNumber" placeholder="@T("model.phone")"/>
                    <span style="padding:10px" class="text-danger" id="ErrorSpan"></span>
                </div>
                <div class="form-block">
                        <label>@T("publicUI.account.forgetPassword.email.title")</label>
                        <input class="border" onclick="sendEmail()" id="email" placeholder="@T("model.email")" />
                    
                </div>
                @*<div class="form-block" style="margin-top:20px">
                    <button class="button button-icon" onclick="sendPhoneNumber()"><i class="fa fa-angle-right"></i>@T("global.sendCode")</button>
                </div>*@
                <div class="divider"></div>
            </div>

        </div>

    </div>

</section>

@section Scripts{
    <script src="~/lib/intl-tel-input/js/intlTelInput.min.js"></script>
    <script>
        var input = document.querySelector("#phoneNumber"),
            errorMsg = document.querySelector("#error-msg"),
            validMsg = document.querySelector("#valid-msg");

        var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number", "Invalid number"];

        var iti = window.intlTelInput(input, {
            allowDropdown: true,
            autoHideDialCode: false,
            autoPlaceholder: "on",
            /*dropdownContainer: document.body,*/
            excludeCountries: ["us"],
            formatOnDisplay: false,
            //geoIpLookup: function(callback) {
            //  $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
            //    var countryCode = (resp && resp.country) ? resp.country : "";
            //    callback(countryCode);
            //  });
            //},
            /*   hiddenInput: "full_number",*/
            /*initialCountry: "auto",*/
            localizedCountries: { 'de': 'Deutschland' },
            nationalMode: false,
            /* onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],*/
            placeholderNumberType: "MOBILE",

            separateDialCode: true,

            utilsScript: "/lib/intl-tel-input/js/utils.js",
        });
        var reset = function () {
            input.classList.remove("error");
            errorMsg.innerHTML = "";
            errorMsg.classList.add("hide");
            validMsg.classList.add("hide");
        };

        // on blur: validate
        input.addEventListener('blur', function () {
            reset();
            if (input.value.trim()) {
                if (iti.isValidNumber()) {
                    validMsg.classList.remove("hide");
                } else {
                    input.classList.add("error");
                    var errorCode = iti.getValidationError();
                    errorMsg.innerHTML = errorMap[errorCode];
                    errorMsg.classList.remove("hide");
                }
            }
        });



        //-----------------------------------------------------------------------------------
        function sendPhoneNumber() {
            var phoneNumber = iti.getNumber();
            if (phoneNumber == "") {
                document.getElementById("ErrorSpan").innerHTML = "@T("publicUI.account.resetPassword.phoneNumberNotFound")";
                return;
            }
                document.getElementById("ErrorSpan").innerHTML = "";
            var plusSign = encodeURIComponent('+');

            var countryCode = iti.k.outerText;
            phoneNumber = iti.getNumber().replace(iti.k.outerText, '');
            //var countryCode = plusSign + iti.getSelectedCountryData().dialCode;
            window.location.assign('/Account/ForgetPasswordPost?phoneNumber=' + phoneNumber + '&countryCode=' + countryCode)
        }

        function sendEmail() {
            var email = document.querySelector('email');
            if (email.value == "") {
                //document.getElementById("ErrorSpan").innerHTML = "@T("publicUI.account.resetPassword.phoneNumberNotFound")";
                return;
            }
            //document.getElementById("ErrorSpan").innerHTML = "";
            window.location.assign('/Account/ForgetPasswordPost?email=' + email)
        }

        @*let userId;
        function sendCodeToPhone() {

            var plusSign = encodeURIComponent('+');
            var phoneNumber = $('#phoneNumber').val();
            var header = { RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }
            $.ajax({
                headers: header,
                url: `/Account/ForgetPassword?phoneNumber=${plusSign}${phoneNumber}`,
                type: 'POST',
            });
        }*@
        @*function VerificationSmsCode() {

            var code = $('#CodeNumber').val();

            var header = { RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }
            $.ajax({
                headers: header,
                url: `/Account/CheckSmsVerification?userId=${userId}&code=${code}`,
                type: 'post',
                dataType: 'json',
                success: function (res) {
                    if (res.responseType === 1) {
                        window.location.assign('/Account/ResetPassword?uid=' + userId)
                    } else {
                        location.assign('/Admin/Dashboard');
                    }
                },
                error: function (e) {
                    console.error(e);
                },
                complete: function () {
                    pleaseWaitDialog.hide();
                }
            });
        }*@
    </script>

}


@*$('#exampleModal').modal('show');*@
