@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}
<section class="module login">
    <form asp-action="ResetPassword" method="post">
        <div class="container">
            <div class="row">
                <input hidden asp-for="UserId" value="@ViewBag.UserId" />
          
                <div class="col-lg-4 col-lg-offset-4">
                    <div class="divider"></div>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                    <div class="form-block">
                        <label>@T("publicUI.account.resetPassword.verificationCode")</label>
                        <input asp-for="VerificationCode" class="border" placeholder="@T("publicUI.account.resetPassword.verificationCode")" />
                    </div>
                    <div class="form-block">
                        <label>@T("publicUI.account.resetPassword.newPassword")</label>
                        <input asp-for="NewPassword" class="border"  placeholder="@T("publicUI.account.resetPassword.newPassword")" />
                    </div>
                    <div class="form-block">
                        <button class="button button-icon" type="submit"><i class="fa fa-angle-right"></i>@T("btn.save")</button>
                    </div>
                    <div class="divider"></div>
                </div>
            </div><!-- end row -->
        </div>
    </form>
</section>

