@using Syncfusion.EJ2.Navigations;
@model Pal.Data.DTOs.Company.CreateNewCompanyDTO;
<link href="~/js/suncfusion/tab/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/multiselectbox/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/richtexteditor/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/listbox/bootstrap4.min.css" rel="stylesheet" />
<link href="~/lib/intl-tel-input/css/intlTelInput.min.css" rel="stylesheet" />
<style>
    .iti {
        display: block;
    }
</style>
<br />

@{
    var languages = LanguageService.GetAllLanguages();
    ViewData["Title"] = T("cp.views.company.add.title");
}
<div class="card card-outline card-primary">
    <div class="card-header">
        @{
            await Html.RenderPartialAsync("_SaveButtons", new Pal.Web.Models.SaveButtonViewModel
            {
                OnSave = "onSave(false)",
                BackToListhref = "/Admin/Companies/CompaniesList",
            });
        }
    </div>

    <div class="card-body">
        <div>
            <form id="CompanyForm" onsubmit="StopSubment(event)" asp-action="CompanyAdd" class="needs-validation ">
                <h3>Add New Company</h3>
                <div class="form-row">
                    @{
                        await Html.RenderPartialAsync("_AddressEditor", new Pal.Web.Models.AddressViewModel { FieldsCount = 2, CountryId = (Model.CountryId??0), CityId = Model.CityId });
                    }
                    <div class="form-group  col-sm-12">
                        <input asp-for="FullAddress" class="form-control form-control-sm" placeholder="Full Address" />
                        <span class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">

                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="CompanyCategoryId">@T("model.Company.CompanyCategoryId")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "CompanyCategoryId")</span>
                        <select asp-for="CompanyCategoryId" asp-items="ViewBag.CompanyCateogries" class="form-control form-control-sm rounded-0"></select>
                        <span asp-validation-for="CompanyCategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="Email">@T("model.Company.Email")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "CompanyCategoryId")</span>
                        <input onchange="CheckEmail(this.value)" asp-for="Email" type="email" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <small class="text-danger field-validation-valid" id="EmailValidation"></small>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="OwnerName">@T("modal.Account.OwnerName")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "OwnerName")</span>
                        <input asp-for="OwnerName" class="form-control form-control-sm rounded-0" required />
                        <small class="text-danger field-validation-valid" id="UserNameValidation"></small>
                        <span asp-validation-for="OwnerName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="UserName">@T("modal.Account.UserName")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "UserName")</span>
                        <input onchange="CheckUserName(this.value)" asp-for="UserName" class="form-control form-control-sm rounded-0" />
                        <small class="text-danger field-validation-valid" id="UserNameValidation"></small>
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="Password">@T("modal.Account.Password")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "Password")</span>
                        <input asp-for="Password" type="text" class="form-control form-control-sm rounded-0" />
                        <small class="text-danger field-validation-valid" id="PasswordValidation"></small>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="Phone">@T("model.Company.Phone")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "Phone")</span>
                        <span id="valid-msg" class="hide text-success">✓ Valid</span>
                        <span id="error-msg" class="hide text-danger"></span>
                        <input asp-for="Phone" type="number" min="0" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="Website">@T("model.Company.Website")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "Website")</span>
                        <input asp-for="Website" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="WhatsApp">@T("model.Company.WhatsApp")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "WhatsApp")</span>
                        <span id="valid-msg1" class="hide text-success">✓ Valid</span>
                        <span id="error-msg1" class="hide text-danger"></span>
                        <input asp-for="WhatsApp" type="number" min="0" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="WhatsApp" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="ManagerName">@T("model.Company.ManagerName")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "ManagerName")</span>
                        <input asp-for="ManagerName" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="ManagerName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="ManagerEmail">@T("model.Company.ManagerEmail")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "ManagerEmail")</span>
                        <input asp-for="ManagerEmail" type="email" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="ManagerEmail" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="TaxNumber">@T("model.Company.TaxNumber")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "TaxNumber")</span>
                        <input asp-for="TaxNumber" type="text" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="TaxNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="FacebookURL">@T("model.Company.FacebookURL")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "FacebookURL")</span>
                        <input asp-for="FacebookURL" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="FacebookURL" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="InstagramURL">@T("model.Company.InstagramURL")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "InstagramURL")</span>
                        <input asp-for="InstagramURL" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="InstagramURL" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="linkedinURL">@T("model.Company.linkedinURL")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "linkedinURL")</span>
                        <input asp-for="linkedinURL" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="linkedinURL" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
                        <label asp-for="TwitterURL">@T("model.Company.TwitterURL")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "TwitterURL")</span>
                        <input asp-for="TwitterURL" class="form-control form-control-sm rounded-0" />
                        <span asp-validation-for="TwitterURL" class="text-danger"></span>
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                        <input asp-for="IsEmailAutoActivation" type="checkbox" class="form-control form-control-sm rounded-0" />
                        <label asp-for="IsEmailAutoActivation">@T("model.Company.IsEmailAutoActivation")</label>

                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6" style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap;">
                        <input asp-for="IsPhoneNumberAutoActivation" type="checkbox" class="form-control form-control-sm rounded-0" />
                        <label asp-for="IsPhoneNumberAutoActivation">@T("model.Company.IsPhoneNumberAutoActivation")</label>

                    </div>
                </div>
                <br />
                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-12">
                        <label>@T("model.Company.MainImage")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "MainImage")</span>
                        <input class="form-control-file" type="file" asp-for="MainImageFile" accept="image/*" onchange="showImgPreview(this, 'CompanyImageReview')" />
                    </div>
                    <div class="form-group col-lg-6 col-md-12">
                        <label>@T("model.Company.Logo")</label>
                        <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "Logo")</span>
                        <input class="form-control-file" type="file" asp-for="CompanyLogoFile" accept="image/*" onchange="showImgPreview(this, 'CompanyLogoReview')" />
                    </div>

                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-md-12"><img src="" alt="Alternate Text" id="CompanyImageReview" style="max-width:160px; display:none;" /></div>
                    <div class="form-group col-lg-6 col-md-12"><img src="" alt="Alternate Text" id="CompanyLogoReview" style="max-width:160px; display:none;" /></div>
                </div>

                <br />
                <section id="tabs">
                    <h3 class="section-title ">Company Details</h3>
                    <div class="row">
                        <div class="col-12 ">
                            <nav>
                                <div class="nav  nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    @{

                                        for (int i = 0; i < languages.Count; i++)
                                        {
                                            var tabName = languages[i].Id;
                                            if (i == 0)
                                            {
                                                <a class="nav-item nav-link active" id="nav-@tabName" data-toggle="tab" href="#contentDiv-@i" role="tab" aria-controls="#contentDiv-@i">@languages[i].Name</a>
                                            }
                                            else
                                            {
                                                <a class="nav-item nav-link" id="nav-@tabName" data-toggle="tab" href="#contentDiv-@i" role="tab" aria-controls="#contentDiv-@i">@languages[i].Name</a>
                                            }
                                        }
                                    }

                                </div>
                            </nav>
                            <div class="tab-content " id="nav-tabContent">
                                @{
                                    for (int i = 0; i < languages.Count; i++)
                                    {
                                        var langId = languages[i].Id;
                                        <input type="hidden" class="local-tap" id="langId-@i" value="@langId" />
                                        <div class='tab-pane fade @(i == 0 ? "show active":"") ' id="contentDiv-@i" role="tabpanel">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label>@T("model.Company.CompanyName") (@languages[i].Name)</label>
                                                    <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "CompanyName")</span>
                                                    <input id="CompanyName-@i" asp-for="CompanyTranslates[i].CompanyName" type="text" class="form-control form-control-sm rounded-0 CompanyNameInput" required>
                                                    <span asp-validation-for="CompanyTranslates[i].CompanyName" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>@T("model.Company.Content") (@languages[i].Name)</label>
                                                <span class="text-danger">@webWorkContext.IsFieldRequired("Company", "Content")</span>
                                                @{
                                                    var contentEditor = new Pal.Web.Models.HtmlEditorModel()
                                                    {
                                                        Value = "",
                                                        Id = "CompanyContent-" + i,
                                                        ImgPath = "",
                                                        ImgSaveUrl = "",
                                                    };
                                                    await Html.RenderPartialAsync("_HtmlEditor", contentEditor);
                                                }
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>

                    </div>
                </section>
            </form>
        </div>
    </div>
    @*<div class="card-footer">
        @{
            await Html.RenderPartialAsync("_SaveButtons", new Pal.Web.Models.SaveButtonViewModel
            {
                OnSave = "onSave(false)",
                BackToListhref = "/Admin/Companies/CompaniesList",
            });
        }
    </div>*@
</div>

<hr />

@section Scripts{

    <script src="~/lib/intl-tel-input/js/intlTelInput.min.js"></script>
    <script>
        let EmailCheckValue;
        let UserNameCheckValue;
        //----------------------------


		var input = document.querySelector("#Phone"),
			errorMsg = document.querySelector("#error-msg"),
			validMsg = document.querySelector("#valid-msg");

		var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number", "Invalid number"];

		var phonenumberIti = window.intlTelInput(input, {
			allowDropdown: true,
			autoHideDialCode: false,
			autoPlaceholder: "on",
			/*dropdownContainer: document.body,*/
			//excludeCountries: ["us"],
			formatOnDisplay: false,
			//geoIpLookup: function(callback) {
			//  $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
			//    var countryCode = (resp && resp.country) ? resp.country : "";
			//    callback(countryCode);
			//  });
			//},
			/*   hiddenInput: "full_number",*/
			initialCountry: "tr",
			//localizedCountries: { 'de': 'Deutschland' },
			nationalMode: false,
			/* onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],*/
			placeholderNumberType: "MOBILE",

			separateDialCode: true,

			utilsScript: "/lib/intl-tel-input/js/utils.js",
		});
		var reset = function() {
			input.classList.remove("error");
			errorMsg.innerHTML = "";
			errorMsg.classList.add("hide");
			validMsg.classList.add("hide");
		};

		// on blur: validate
		input.addEventListener('blur', function() {
			reset();
			if (input.value.trim()) {
                if (phonenumberIti.isValidNumber()) {
					validMsg.classList.remove("hide");
				} else {
					input.classList.add("error");
                    var errorCode = phonenumberIti.getValidationError();
					errorMsg.innerHTML = errorMap[errorCode];
					errorMsg.classList.remove("hide");
				}
			}
		});

		//// on keyup / change flag: reset
		input.addEventListener('change', reset);
		input.addEventListener('keyup', reset);
		//-----------------------------------------------------------------
        var Whatsappinput = document.querySelector("#WhatsApp"),
            errorMsg1 = document.querySelector("#error-msg1"),
            validMsg1 = document.querySelector("#valid-msg1");

        var errorMap1 = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number", "Invalid number"];

        var WhatsappNumberiti = window.intlTelInput(Whatsappinput, {
            allowDropdown: true,
            autoHideDialCode: false,
            autoPlaceholder: "on",
            /*dropdownContainer: document.body,*/
            //excludeCountries: ["us"],
            formatOnDisplay: false,
            //geoIpLookup: function(callback) {
            //  $.get("http://ipinfo.io", function() {}, "jsonp").always(function(resp) {
            //    var countryCode = (resp && resp.country) ? resp.country : "";
            //    callback(countryCode);
            //  });
            //},
            /*   hiddenInput: "full_number",*/
            initialCountry: "tr",
            //localizedCountries: { 'de': 'Deutschland' },
            nationalMode: false,
            /* onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],*/
            placeholderNumberType: "MOBILE",

            separateDialCode: true,

            utilsScript: "/lib/intl-tel-input/js/utils.js",
        });
        var reset = function () {
            Whatsappinput.classList.remove("error");
            errorMsg1.innerHTML = "";
            errorMsg1.classList.add("hide");
            validMsg1.classList.add("hide");
        };

        // on blur: validate
        Whatsappinput.addEventListener('blur', function () {
            reset();
            if (input.value.trim()) {
                if (WhatsappNumberiti.isValidNumber()) {
                    validMsg1.classList.remove("hide");
                } else {
                    Whatsappinput.classList.add("error");
                    var errorCode = WhatsappNumberiti.getValidationError();
                    errorMsg1.innerHTML = errorMap1[errorCode];
                    errorMsg1.classList.remove("hide");
                }
            }
        });

        //// on keyup / change flag: reset
        Whatsappinput.addEventListener('change', reset);
        Whatsappinput.addEventListener('keyup', reset);

        //*-+-------------------------------------------------------------------------------
        function StopSubment(e) {
            e.preventDefault();

        }
        //-----------------------------------------------------------
        var passwordInput = document.getElementById("Password");
        passwordInput.addEventListener('input', function () {
            var passwordCheck = isPasswordSecure(document.getElementById("Password").value)
            console.log(passwordCheck)
            const error = document.querySelector('#PasswordValidation');
            if (passwordCheck == 1) {
                error.textContent = '';
                return;
            }
            if (passwordCheck == 2) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 lowercase character';
                return;
            }
            else if (passwordCheck == 3) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 uppercase character';
                return;
            }
            else if (passwordCheck == 4) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 number';
                return;
            }
            else if (passwordCheck == 5) {
                error.textContent = ' ';
                error.textContent = 'Password must include at least 1 special character in (!#$%^&*)';
                return;
            }
            else if (passwordCheck == 6) {
                error.textContent = ' ';
                error.textContent = 'Password must has at least 8 characters';
                return;
            } else {
                error.textContent = ' ';
            }
            //----------------------------------------------------------------------
        });
        //-----------------------------------------------------------
        function CheckEmail(e) {

            $.ajax({
                type: "post",
                url: `/Account/IsEmailExist?email=${e}`,
                contentType: false,
                processData: false,

                success: function (res) {
                    var UserNameErrorSpan = document.getElementById("EmailValidation");
                    if (res.responseType === 0) {
                        UserNameErrorSpan.textContent = '';
                        EmailCheckValue = 0;

                    } else {
                        UserNameErrorSpan.textContent = '';
                        UserNameErrorSpan.textContent = 'Email Existing!';
                        EmailCheckValue = 1;

                    }
                },
                error: function (e) {
                    console.error(e);
                }
            });
        }
        //-----------------------------------------------------------
        function CheckUserName(e) {
            $.ajax({
                type: "post",
                url: `/Account/IsUserNameExist?userName=${e}`,
                contentType: false,
                processData: false,
                success: function (res) {
                    var UserNameErrorSpan = document.getElementById("UserNameValidation");
                    if (res.responseType === 0) {
                        UserNameErrorSpan.textContent = '';
                        UserNameCheckValue = 0

                    } else {
                        UserNameErrorSpan.textContent = '';
                        UserNameErrorSpan.textContent = 'User name Existing!';
                        UserNameCheckValue = 1;

                    }
                },
                error: function (e) {
                    console.error(e);
                }
            });
        }


		var languagesCount = @languages.Count;
		function onSave(saveAndNew) {

            if (!$("#CompanyForm").valid()) {
                return;
            }

            if (EmailCheckValue !== 0) {
                ErrorToast('Email Is Required', 'Enter a valid Email');
                return;
            }

            if (UserNameCheckValue !== 0) {
                ErrorToast('Username Is Required', 'Enter a valid username');
                return;
            }

            if (isPasswordSecure(document.getElementById("Password").value) !== 0) {
                ErrorToast('Password Is Required', 'Enter a valid password');
                return;
            }

            if (phonenumberIti.getNumber() && !phonenumberIti.isValidNumber()) {
                ErrorToast('', 'Enter a valid PhoneNumber');
                return;
            }

            if (WhatsappNumberiti.getNumber() && !WhatsappNumberiti.isValidNumber()) {
                ErrorToast('', 'Whatsapp a valid username');
                return;
            }

            var CompanyTranslateinfo = [];
            for (var i = 0; i < languagesCount; i++) {
                var langid = $('#langId-' + i).val();
                var CompanyName = $('#CompanyName-' + i).val();
                var content = document.getElementById('CompanyContent-' + i).ej2_instances[0].value;
                CompanyTranslateinfo.push({ langid, CompanyName, content });
            }

			// readyupdata
			var data = new FormData();
			data.append('Email', document.querySelector('#Email').value);
            data.append('Phone', phonenumberIti.getNumber());
			data.append('Password', document.querySelector('#Password').value);
			data.append('Website', document.querySelector('#Website').value);
            data.append('UserName', document.querySelector('#UserName').value);
            data.append('OwnerName', document.querySelector('#OwnerName').value);

			data.append('ManagerName', document.querySelector('#ManagerName').value);
			data.append('ManagerEmail', document.querySelector('#ManagerEmail').value);
            data.append('TaxNumber', document.querySelector('#TaxNumber').value);
            data.append('WhatsApp', WhatsappNumberiti.getNumber());
			data.append('FacebookURL', document.querySelector('#FacebookURL').value);
			data.append('InstagramURL', document.querySelector('#InstagramURL').value);
			data.append('linkedinURL', document.querySelector('#linkedinURL').value);
			data.append('TwitterURL', document.querySelector('#TwitterURL').value);
            data.append('CompanyCategoryId', $('#CompanyCategoryId').val());
            data.append('IsEmailAutoActivation', $('#IsEmailAutoActivation').prop('checked'));
            data.append('IsPhoneNumberAutoActivation', $('#IsPhoneNumberAutoActivation').prop('checked'));
			data.append("MainImageFile", document.querySelector('#MainImageFile').files[0]);
			data.append("CompanyLogoFile", document.querySelector('#CompanyLogoFile').files[0]);

			data.append('CountryId', document.getElementById("cbCountry").ej2_instances[0].value);
			data.append('CityId', document.getElementById("cbCity").ej2_instances[0].value);
			data.append('FullAddress', document.querySelector('#FullAddress').value);


			CompanyTranslateinfo.forEach((val, i) => {
				data.append('CompanyTranslates[' + i + '][LanguageId]', val.langid);
				data.append('CompanyTranslates[' + i + '][CompanyName]', val.CompanyName);
				data.append('CompanyTranslates[' + i + '][content]', val.content);
			});

         
            showLoading();
			var header = { RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }
			$.ajax({
				headers: header,
				type: "post",
				url: "/admin/Companies/CompanyAdd",
				contentType: false,
				processData: false,
				data: data,
				success: function(message) {
					if (message.isSuccess) {
						SuccessToast('@T("cp.alert.onSaveSuccess")');
                        location.assign('/Admin/Companies/CompanyUpdate/' + message.data)
					}
                    else if (message.statusCode === 400) {
                        ErrorDialogHTML('@T("Required Fields")', message.errors.join('<br/>'));
					}
                    else {
                        ErrorDialogHTML('@T("cp.alert.error")', message.errors.join('<br/>'));
					}
				},
				error: function() {
					alert('@T("cp.alert.error")');
                },
                complete: () => hideLoading()
			});
		}
    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/suncfusion/listbox/listbox.min.js"></script>
    <script src="~/js/suncfusion/multiselectbox/multiselectbox.min.js"></script>
    <script src="~/js/suncfusion/richtexteditor/richtexteditor.min.js"></script>
    <script src="~/js/ValidationRegister.js"></script>
    <ejs-scripts></ejs-scripts>
}