


<div class="lookup-btn">
    @*<a class="btn btn-info mb-2" asp-action="AirConditionTypes">@T("cp.views.lookUps.title.airConditions")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="HeatingTypes">@T("cp.views.lookUps.title.heatingTypes")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="PlacesTypes">@T("cp.views.lookUps.title.placesTypes")</a>*@
    <a class="btn btn-info mb-2" asp-action="Nationality">@T("cp.views.lookUps.title.nationality")</a>
    <a class="btn btn-info mb-2" asp-action="PaymentTypes">@T("cp.views.lookUps.title.paymentTypes")</a>
    @*<a class="btn btn-info mb-2" asp-action="ProjectFeatures">@T("cp.views.lookUps.title.projectFeatures")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="ProjectStatuses">@T("cp.views.lookUps.title.projectStatus")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="ProjectTypes">@T("cp.views.lookUps.title.projectTypes")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="RealStates">@T("cp.views.lookUps.title.realStateClasses")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="RealEstateTypes">@T("cp.views.lookUps.title.realEstateTypes")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="ViewTypes">@T("cp.views.lookUps.title.ViewTypes")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="BalconieDirections">@T("cp.views.lookUps.title.BalconieDirections")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="RoomsCount">@T("cp.views.lookUps.title.roomsCount")</a>*@
    <a class="btn btn-info mb-2" asp-action="Countries">@T("cp.views.lookUps.title.countries")</a>
    <a class="btn btn-info mb-2" asp-action="Cities">@T("cp.views.lookUps.title.cities")</a>
    @*<a class="btn btn-info mb-2" asp-action="Regions">@T("cp.views.lookUps.title.regions")</a>*@
    @*<a class="btn btn-info mb-2" asp-action="Neighborhoods">@T("cp.views.lookUps.title.neighborhoods")</a>*@
    <a class="btn btn-info mb-2" asp-action="CompanyCateogry">@T("cp.views.lookUps.title.CompanyCategory")</a>
    <a class="btn btn-info mb-2" asp-action="TaskStatuses">@T("cp.views.lookUps.title.TaskStatuses")</a>
    <a class="btn btn-info mb-2" asp-action="CallTypes">@T("cp.views.lookUps.title.CallTypes")</a>
    <a class="btn btn-info mb-2" asp-action="CallStatus">@T("cp.views.lookUps.title.CallStatus")</a>
    <a class="btn btn-info mb-2" asp-action="CallPurpose">@T("cp.views.lookUps.title.CallPurpose")</a>
    <a class="btn btn-info mb-2" asp-action="CallResult">@T("cp.views.lookUps.title.CallResult")</a>
    <a class="btn btn-info mb-2" asp-action="DealStage">@T("cp.views.lookUps.title.DealStage")</a>
    <a class="btn btn-info mb-2" asp-action="DealType">@T("cp.views.lookUps.title.DealType")</a>
    <a class="btn btn-info mb-2" asp-action="JobTitles">@T("cp.views.lookUps.title.JobTitle")</a>
    <a class="btn btn-info mb-2" asp-action="LeadSource">@T("cp.views.lookUps.title.LeadSource")</a>
    <a class="btn btn-info mb-2" asp-action="LeadRating">@T("cp.views.lookUps.title.LeadRating")</a>
    <a class="btn btn-info mb-2" asp-action="LeadStatus">@T("cp.views.lookUps.title.LeadStatus")</a>
    <a class="btn btn-info mb-2" asp-action="Decision">@T("cp.views.lookUps.title.Decision")</a>

</div>


<style>
    .lookup-btn a {
        width: 200px
    }
</style>