@{
    ViewData["Title"] = T("cp.views.employee.list.title");
}

<link href="~/js/suncfusion/datagrid/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/datagrid/customGridStyle.css" rel="stylesheet" />



<form asp-action="EmployeeDelete" method="post">
</form>

<div class="card card-outline card-primary">
    <div class="card-header">
        <a class="btn btn-sm btn-primary" asp-action="EmployeeAdd">@T("btn.add")</a>
    </div>

    <div class="card-body">
        <div>
            @{


                var gridModel = new Pal.Web.Models.GridViewModel
                {
                    GridId = "EmployeesGrid",
                    //Model = Model,
                    Url = "/Admin/Employees/EmployeesPaginatedList",
                    Columns = new()
                    {
                        new() { Field = "id", HeaderText = "#", Width = "100" },
                        new() { Field = "fullName", HeaderText = T("model.employee.fullName").ToString(), Width = "100" },
                        new() { Field = "jobTitle", HeaderText = T("model.employee.jobTitle").ToString(), Width = "100" },
                        new() { Field = "phoneNumber", HeaderText = T("model.employee.phoneNumber").ToString(), Width = "100" },
                        new() { Field = "email", HeaderText = T("model.employee.email").ToString(), Width = "100" },
                    }
                };

                await Html.RenderPartialAsync("_PaginatedGridView", gridModel);
            }

        </div>
    </div>
    @*<div class="card-footer">
        <a class="btn btn-sm btn-primary" asp-action="EmployeeAdd">@T("btn.add")</a>
    </div>*@
</div>


@section Scripts{
    <script src="~/js/suncfusion/datagrid/datagrid.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script>
        function commandClick(args) {
            switch (args.commandColumn.type) {
                case "EditBtn":
                    window.location.assign('/Admin/Employees/EmployeeUpdate/' + args.rowData.id);
                    break;
                case "DeleteBtn":
                    Swal.fire({
                         title: '@T("cp.alert.onDeleteMessage.subtitle")',
                        text: "@T("cp.alert.onDeleteMessage.title")",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: '@T("cp.alert.onDelete.btnDelete")',
                        cancelButtonText: '@T("cp.alert.onDelete.btnCancel")',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            onDelete(args.rowData.id);
                        }
                    });
                    break;
            }
        }

        function onDelete(id) {
            var token = $("input[name='__RequestVerificationToken']").val();
            $.ajax({
                url: '/Admin/Employees/EmployeeDelete/' + id,
                type: 'POST',
                headers: { RequestVerificationToken: token },
                success: function (res) {
                    if (res.responseType === 1) {
                        var grid = document.getElementById('@gridModel.GridId').ej2_instances[0];
                        grid.deleteRecord("Id", grid.getSelectedRecords()[0]);
                        Swal.fire(
                              '@T("cp.alert.onDeleteSuccess.title")',
                            '@T("cp.alert.onDeleteSuccess.subtitle")',
                            'success',
                        );

                    } else {
                        Swal.fire(
                           '@T("cp.alert.onDeleteFailde.title")',
                            '@T("cp.alert.onDeleteFailde")',
                            'error',
                        );
                    }

                },
                error: function (e) {
                    Swal.fire(
                          '@T("cp.alert.onDeleteFailde.title")',
                        '@T("cp.alert.onDeleteFailde.subtitle")',
                        'error',
                    );
                    console.error(e);
                }
            });
        }
    </script>
}
