@using Syncfusion.EJ2.Navigations;
@model Pal.Data.DTOs.CRM.Call.CallDTO
@{
    ViewData["Title"] = T("cp.views.call.add.title");

    var languages = LanguageService.GetAllLanguages();

    var customers = Json.Serialize(ViewBag.Customers1);
    var leads = Json.Serialize(ViewBag.Leads1);

}
<link href="~/js/suncfusion/dropdownlist/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/listbox/bootstrap4.min.css" rel="stylesheet" />


<style>
    label {
        margin-bottom: 0;
    }
</style>
<br />

<form id="myForm" asp-action="CallAdd" onsubmit="event.preventDefault()" class="needs-validation was-validated">
    <div class="card card-outline card-primary">
        <div class="card-header">
            @{
                await Html.RenderPartialAsync("_SaveButtons", new Pal.Web.Models.SaveButtonViewModel
                {
                    OnSave = "onSave(false)",
                    BackToListhref = "/Admin/Calls/CallsList",
                });
            }
        </div>
        <input type="hidden" id="customersList" value="@customers" />
        <div class="card-body">

            <div>
                <div class="form-row">
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="EmployeeId">@T("model.Call.EmployeeId")</label>
                        <select asp-for="EmployeeId" asp-items="ViewBag.Employee" class="rounded-0  form-control form-control-sm" required></select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>

                    @*<div class="form-group col-lg-4 col-md-6 col-sm-12">
                            <label asp-for="CustomerId">@T("model.Call.CustomerId")</label>
                            <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="rounded-0  form-control form-control-sm" required>
                            </select>
                            <span asp-validation-for="CustomerId" class="text-danger"></span>
                        </div>*@
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="CustomerId">@T("model.Call.CustomerId")</label>
                        <div class="input-group ">
                            <div class="input-group-prepend">
                                <button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    @T("type")
                                </button>
                                <ul class="dropdown-menu" style="">
                                    <li onclick="changeusertype(1)" class="dropdown-item"><a>@T("Customer")</a></li>
                                    <li onclick="changeusertype(2)" class="dropdown-item"><a>@T("global.leads")</a></li>
                                </ul>
                            </div>

                            <select asp-for="CustomerId" asp-items="ViewBag.customers" class="rounded-0 form-control form-control-sm select2" required></select>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="CallTypeId">@T("model.Call.CallTypeId")</label>
                        <select asp-for="CallTypeId" asp-items="ViewBag.CallTypes" class="rounded-0  form-control form-control-sm" required></select>
                        <span asp-validation-for="CallTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="CallPurposeId">@T("model.Call.CallPurposeId")</label>
                        <select asp-for="CallPurposeId" asp-items="ViewBag.CallPurpose" class="rounded-0  form-control form-control-sm" required></select>
                        <span asp-validation-for="CallPurposeId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="CallStatusId">@T("model.Call.CallStatusId")</label>
                        <select asp-for="CallStatusId" asp-items="ViewBag.CallStatus" class="rounded-0  form-control form-control-sm">
                            @*<option value="0">Select..</option>*@
                        </select>
                        <span asp-validation-for="CallStatusId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label asp-for="Subject">@T("model.Call.Subject")</label>
                        <input asp-for="Subject" class="rounded-0 form-control form-control-sm" required />
                        <span asp-validation-for="Subject" class="text-danger"></span>
                    </div>

                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label asp-for="CallStart">@T("model.Call.CallStart")</label>
                        <input asp-for="CallStart" value="now" onchange="CheckTime(this.value)" type="datetime-local" class="rounded-0  form-control form-control-sm" />
                        <span asp-validation-for="CallStart" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
                        <label asp-for="Duration">@T("model.Call.Duration")</label>
                        <input asp-for="Duration" type="time" class="rounded-0 form-control form-control-sm" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <label asp-for="CallResultId">@T("model.Call.CallResultId")</label>
                        <select asp-for="CallResultId" asp-items="ViewBag.CallResult" class="rounded-0  form-control form-control-sm">
                            @*<option value="0">Selete..</option>*@
                        </select>
                        <span asp-validation-for="CallResultId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12">
                        <label asp-for="CallDetails">@T("model.Call.CallDetails")</label>
                        <textarea rows="10" asp-for="CallDetails" class="rounded-0  form-control form-control-sm"></textarea>
                        <span asp-validation-for="CallDetails" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-2 col-md-6 col-sm-12" style="display:flex; justify-content:center; align-items:center;">
                        <label style="margin-top: 1px; width: 211%;" asp-for="IsAssignedToTask">@T("model.Call.IsAssignedToTask")</label>
                        <input asp-for="IsAssignedToTask" type="checkbox" class="form-control form-control-sm" />
                        <span asp-validation-for="IsAssignedToTask" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>

@*        <div class="card-footer">
            @{
                await Html.RenderPartialAsync("_SaveButtons", new Pal.Web.Models.SaveButtonViewModel
                {
                    OnSave = "onSave(false)",
                    BackToListhref = "/Admin/Leads/LeadsList",
                });
            }
        </div>*@

    </div>
</form>

<div id="hghgghg">

</div>

@section Scripts{

    <script>
    var customers = @customers;
    var leads = @leads;
        function changeusertype(e) {

            var selectobject = document.getElementById("CustomerId");
            $('#CustomerId').html('');


            if (e==1) {
                Array.from(customers).forEach(a => {
                    $('#CustomerId').append(`
                     <option value="${a.id}">${a.name}</option>
                `)
                });
            } else {
                Array.from(leads).forEach(a => {
                    $('#CustomerId').append(`
                     <option value="${a.id}">${a.name}</option>
                `)
                });
            }
        }

        var schedualed = false;
        function CheckTime(dateTimeValue) {

            var dateNow = new Date();
            var dateValue = new Date(dateTimeValue);

            if (dateValue > dateNow) {


                console.log("big")
                $('#CallStatusId').attr("disabled", "true")
                $('#Duration').val(0);


                $('#Duration').attr("disabled", "true")
                $('#Duration').val(" ");

                $('#CallResultId').attr("disabled", "true")
                $('#Duration').val(0);

                $('#CallDetails').attr("disabled", "true")
                $('#CallDetails').val(" ");

                $('#IsAssignedToTask').removeAttr("disabled")

                schedualed = true;
            } else {
                $('#CallStatusId').removeAttr("disabled")
                $('#Duration').removeAttr("disabled")
                $('#CallResultId').removeAttr("disabled")
                $('#CallDetails').removeAttr("disabled")

                $('#IsAssignedToTask').attr("disabled", "true")
                $('#IsAssignedToTask').val(false);
            }
        }

    </script>

    <script>





        //----------------------------------------------------------------------
        var languagesCount = @languages.Count;
        function onSave(saveAndNew) {
             //------------------------------------------
            if (!$("#myForm").valid())
                return;

            //------------------------------------------
            // readyupdata
            var data = new FormData();
            console.log(schedualed)
            if (!schedualed) {
            data.append('CallResultId', $('#CallResultId').val());
            data.append('CallStatusId', $('#CallStatusId').val());
            }

            data.append('EmployeeId', $('#EmployeeId').val());
            data.append('CustomerId', $('#CustomerId').val());
            data.append('CallTypeId', $('#CallTypeId').val());
            data.append('CallPurposeId', $('#CallPurposeId').val());
            data.append('Subject', $('#Subject').val());
            data.append('CallStart', $('#CallStart').val());
            data.append('Duration', $('#Duration').val());
            data.append('CallDetails', $('#CallDetails').val());
            data.append('IsScheduled', false);
            data.append('IsAssignedToTask', $('#IsAssignedToTask').prop('checked'));

            showLoading();
            var header = { RequestVerificationToken: $("input[name='__RequestVerificationToken']").val() }
            $.ajax({
                type: "post",
                headers: header,
                url: "/admin/Calls/CallAdd",
                contentType: false,
                processData: false,
                data: data,
                success: function (res) {
                    if (res.responseType === 1) {
                        SuccessToast('@T("cp.alert.onSaveSuccess")');
                        location.href = "/Admin/Calls/CallUpdate/" + res.responseText
                    } else {
                        ErrorToast('@T("cp.alert.onSave.IncompleteInfo.title")', '@T("cp.alert.onSave.IncompleteInfo.subtitle")');
                    }
                },
                error: function (e) {
                    ErrorToast();
                    console.error(e);
                },
                complete: hideLoading()
            });
        }


    </script>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/suncfusion/dropdownlist/dropdownlist.min.js"></script>
    <ejs-scripts></ejs-scripts>

}
