@{
    ViewData["Title"] = T("cp.views.customer.list.title");
}

<link href="~/js/suncfusion/datagrid/bootstrap4.min.css" rel="stylesheet" />
<link href="~/js/suncfusion/datagrid/customGridStyle.css" rel="stylesheet" />

@*<p>
        <a class="btn btn-primary" asp-action="CustomerAdd">@T("btn.add")</a>
    </p>*@


<form asp-action="CustomerDelete" method="post">
</form>
<div class="card card-outline card-primary">
    <div class="card-header">
        @*<a class="btn btn-sm btn-primary" asp-action="AdvisorAdd">@T("btn.add")</a>*@
    </div>
    <div class="card-body">
        <div>

            @{


                var gridModel = new Pal.Web.Models.GridViewModel
                {
                    GridId = "CustomersGrid",
                    AllowToShowDetails = true,
                    Url = "/Admin/Customers/CustomersPaginatedList",

                    Columns = new()
                    {
                        new() { Field = "id", HeaderText = "#", Width = "100" },
                        new() { Field = "fullName", HeaderText = T("model.Customer.FullName").ToString(), Width = "100" },
                        new() { Field = "nationalityName", HeaderText = T("model.Customer.NationalityId").ToString(), Width = "100" },
                        new() { Field = "phoneNumber", HeaderText = T("model.Customer.PhoneNumber").ToString(), Width = "100" },
                        new() { Field = "countryName", HeaderText = T("model.Customer.CountryId").ToString(), Width = "100" },
                        new() { Field = "email", HeaderText = T("model.lead.Email").ToString(), Width = "100" },
                        //new() { Field = "registerdByAdmin", HeaderText = T("model.lead.RegisterdByAdmin").ToString(), Width = "100" },
                        new() { Field = "createdBy", HeaderText = T("model.lead.CreatedBy").ToString(), Width = "100" },
                        //new() { Field = "lastLogInDate", HeaderText = T("model.lead.LastLogInDate").ToString(), Width = "100" },
                        //new() { Field = "RegisterdByAdmin", HeaderText = T("model.lead.RegisterdByAdmin").ToString(), Width = "100" },
                        //new() { Field = "CustomerStatusName", HeaderText = T("model.Customer.CustomerStatus").ToString(), Width = "100" },
                    }
                };

                await Html.RenderPartialAsync("_PaginatedGridView", gridModel);
            }


        </div>
    </div>
    @*<div class="card-footer">
        <a class="btn btn-sm btn-primary" asp-action="AdvisorAdd">@T("btn.add")</a>
    </div>*@
</div>

@section Scripts{
    <script src="~/js/suncfusion/datagrid/datagrid.min.js"></script>
    <ejs-scripts></ejs-scripts>
    <script>
        function commandClick(args) {
            switch (args.commandColumn.type) {
                case "EditBtn":
                    window.location.assign('/Admin/Customers/CustomerUpdate/' + args.rowData.id);
                    break;
                case "DeleteBtn":
                    Swal.fire({
                         title: '@T("cp.alert.onDeleteMessage.subtitle")',
                        text: "@T("cp.alert.onDeleteMessage.title")",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: '@T("cp.alert.onDelete.btnDelete")',
                        cancelButtonText: '@T("cp.alert.onDelete.btnCancel")',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            onDelete(args.rowData.id);
                        }
                    });
                    break;
                case "DetalisBtn":
                    window.location.assign("/Admin/Customers/CustomerDetails/" + args.rowData.id);
                    break;
            }
        }

        function onDelete(id) {
            var token = $("input[name='__RequestVerificationToken']").val();
            $.ajax({
                url: '/Admin/Customers/CustomerDelete/' + id,
                type: 'POST',
                headers: { RequestVerificationToken: token },
                success: function (res) {
                    if (res.responseType === 1) {
                        var grid = document.getElementById('@gridModel.GridId').ej2_instances[0];
                        grid.deleteRecord("Id", grid.getSelectedRecords()[0]);
                        Swal.fire(
                              '@T("cp.alert.onDeleteSuccess.title")',
                            '@T("cp.alert.onDeleteSuccess.subtitle")',
                            'success',
                        );

                    } else {
                        Swal.fire(
                           '@T("cp.alert.onDeleteFailde.title")',
                            '@T("cp.alert.onDeleteFailde")',
                            'error',
                        );
                    }

                },
                error: function (e) {
                    Swal.fire(
                          '@T("cp.alert.onDeleteFailde.title")',
                        '@T("cp.alert.onDeleteFailde.subtitle")',
                        'error',
                    );
                    console.error(e);
                }
            });
        }
    </script>
}